[2019-06-26 03:38] Val-istar-Guo opened #1 "Add register used for ava.config.js"
The [way](https://github.com/avajs/ava/blob/master/docs/recipes/typescript.md) write ava test isn't support ts alias. It's because `ts-node/register` won't parse alias.

Therefor I have to require `module-alias/register`. However, `module-alias/register` is need to write additional config at package.json.

`ts-alias` could support `ts-alias/register`, auto read the `tsconfig.json` same as `ts-node

[2019-06-26 03:44] Val-istar-Guo commented on #1
tsconfig-paths can solve the problem.

[2019-06-26 03:44] #1 closed

[2020-11-09 02:42] YF1999 opened #4 "Cannot install tsc-alias@1.1.4 via npm and "tsc-alias" not found when using yarn"
When installing `tsc-alias` via npm:
[code]

Yarn can add `tsc-alias` successfully, but fails to execute tsc-alias:
[code]

The scripts `tsc-alias` does not exist in `node_modules/.bin/`.

[2020-11-09 08:58] justkey007 commented on #4
Thanks for reporting this bug. I just fixed it

[2020-11-09 08:59] #4 closed

[2020-11-12 22:56] p-chan opened #5 "If I use `@username/tsconfig` extends, get `The JSON file is invalid` error"
I use shared tsconfig in my project. ( [@p-chan/tsconfig](https://www.npmjs.com/package/@p-chan/tsconfig) )
However, I'm having trouble using tsc-alias in conjunction with shared tsconfig and I'm getting an error.

If you know of a solution, I'd be happy to let you know.

---

[code]

[code]

[code]

(`myproject` equal process.cwd().)

[2020-11-12 23:42] justkey007 commented on #5
Just use a relative path to the node_modules folder where your extended tsconfig is located

[2020-11-12 23:57] p-chan commented on #5
`"extends": "./node_modules/@p-chan/tsconfig/tsconfig.json"` -> It's fixed! Thank you!

[2020-11-12 23:57] #5 closed

[2020-11-15 18:08] mgcrea commented on #5
Just encountered this as well with `"extends": "@tsconfig/node14/tsconfig.json",` wouldn't it be better to automatically prefix with node_modules when extends starts with an `@`, should cover most use cases.

[2020-11-15 19:45] justkey007 commented on #5
I took note. Thank you

[2021-01-10 16:34] l3v1k opened #9 "Consider using another lib to parse tsconfig.json"
tsconfig.json is not general JSON file, it may contain inline comments like rc files. So default JSON.parse will fail.

There is lib that parses tsconfig like typescript does internally: https://github.com/TypeStrong/tsconfig.

This may be more flexible, since many users add comments into their tsconfigs.

[2021-01-10 19:09] #9 closed

[2021-01-11 12:59] phuctm97 opened #11 "Fail to read compilerOptions.outDir"
This bug is found on `v1.2.1`, not `v1.2.0`:

I got an incorrect error saying: `compilerOptions.outDir is not set`.

My tsconfig:

[code]

Seems like the new `loadConfig` API is working incorrectly.

[2021-01-11 16:03] justkey007 commented on #11
Hello, I just tried again with your tsconfig and didn't get this error. Can you provide me with an example of reproducing this error using a repository. Thank you

[2021-01-11 20:02] #11 closed

[2021-01-27 14:28] Giovannini opened #12 "Duplicate in path when using an alias containing '..'"
**Version**
Bug found on `1.2.2`

**Description**
I've got a project with that kind of architecture:
[code]

with a tsconfig file having those options:

[code]

The path having pattern `..` seems to generate an import with duplicate folder `shared`: `../../shared/shared/src/*`

**Expected behaviouor**
Generating an import without duplicate (`../../shared/src/*`)

This seems caused by a typo here:

[2021-01-27 16:10] #12 closed

[2021-01-27 18:26] p-chan opened #15 "paths are not resolved when './' is specified as baseUrl"
## Directory structure

[code]

./src/index.ts
[code]

## tsconfig.json

[code]

## dist

[code]

## ./dist/index.ts

[code]

-> `Error: Cannot find module`

[2021-01-27 18:29] p-chan commented on #15
Set the baseUrl to . /src and set paths to `@controllers/*": [". /controllers/*"]` to solve the problem.

However, I want the baseUrl to be '. /'.

By the way, using ts-node + tsconfig-paths works as expected.

[2021-01-27 18:40] justkey007 commented on #15
That's right, I'll see how to fix this afterwards. Thank you

[2021-01-27 23:51] #15 closed

[2021-03-11 00:57] JaydenLiang opened #18 "should support 'scoped package' format path alias"
summary:
The latest version doesn't work with [scoped package](https://docs.npmjs.com/cli/v7/using-npm/scope)

issues:
The scope for instance: @me/myproject, does not get resolved.

expected:
scope can be resolved correctly when specified in the paths in tsconfig.json

[2021-03-11 01:25] #18 closed

[2021-03-16 15:48] daividh opened #20 "Alias replacement failed when importing library containing alias"
**Issue**

When using libraries starting with a "@" (like `@esfx/collections-hashmap`) using a tsconfig.json containing bellow config make import replacement fail with error `Error: Cannot find module './esfx/collections-hashmap'`

tsconfig.json
[code]

**How to reproduce**

Start test on this ### ### [branch](https://github.com/daividh/tsc-alias/tree/alias_issue)

[2021-03-16 21:05] justkey007 commented on #20
I would like to have the structure of your project to better debug. Thank you

[2021-03-17 04:48] transcranial commented on #20
I have the exact same issue after going from `1.2.6` -> `1.2.7`, presumably due to PR https://github.com/justkey007/tsc-alias/pull/19. `@/aliased/path` should be transformed and `@scoped/package` left alone, but now the latter is also being (incorrectly) transformed.

[2021-03-17 17:07] #20 closed

[2021-03-17 17:08] justkey007 commented on #20
Thank you to all of you. The problem is solved

[2021-03-25 09:17] noxify opened #21 "[Question] Keep aliases in source files"
Hi,

at first, thanks for the package - it helps us to use path aliases in the AWS CDK.

I have currently the challenge that `tsc-alias` replaces all `@alias` definitions in all files.

Based on the code, i can see that the files to replace are hard coded, is there a chance to make the file types configurable?

As reference: https://github.com/justkey007/tsc-alias/blob/master/src/index.ts#L232

Wh

[2021-03-25 09:27] noxify commented on #21
As info: The AWS CDK doesn't support path aliases currently, so using this package is my workaround to support it.

[2021-03-25 11:25] mgcrea opened #22 "Break with directory-based tsconfig extends, like `@tsconfig/node14`"
[code]

PR on the way.

[2021-03-25 12:31] #22 closed

[2021-03-25 14:06] #21 closed

[2021-03-25 14:33] noxify commented on #21
thanks @justkey007 ❤️

[2021-03-27 07:42] vimalmistry opened #24 "Nodemon support!"
This plugin working fine while compilation.

Can you guide me how to use in watch mode with nodemon/ts-node ?

[code]

[2021-03-27 15:13] justkey007 commented on #24
To use with noidemon you just have to compile the typescript project in watch mode (`tsc -w`) and run in another terminal or in the background `tsc-alias -w`. And then you can run nodemon on the input file of the `dist` or` build` folder.

The nodemon command will be as follows:
`nodemon --watch dist --inspect dist/server.js`

I hope that that will be able to help you

[2021-03-30 00:37] #24 closed

[2021-05-17 11:03] bohdanbirdie opened #28 "Feature Request: Disable console messages"
Hi!
Great work on the library!

Would you mind adding a flag to disable default console.log messages?
To be specific:
https://github.com/justkey007/tsc-alias/blob/master/src/index.ts#L30
https://github.com/justkey007/tsc-alias/blob/master/src/index.ts#L249

Thanks!

[2021-05-17 11:10] justkey007 commented on #28
Hello, thanks for the appreciation. I would like to know how the console output is giving you trouble and wouldn't it be better to redirect it to `/dev/null` ?

[2021-05-17 11:14] bohdanbirdie commented on #28
I'm adding it as a hook for the rollup config
![image](https://user-images.githubusercontent.com/23266928/118479672-fb1d5100-b719-11eb-8ef9-4f250bbf3be8.png)

And it is adding extra messages to the terminal output, which I would like to reduce. (Keeping the error messages of course)
![image](https://user-images.githubusercontent.com/23266928/118479757-15efc580-b71a-11eb-9792-ba891d9bd908.png)

[2021-05-17 11:19] justkey007 commented on #28
Understood and noted, as soon as I have a little time I will add this functionality or if you can send a pull request that would be good. Thank you

[2021-05-18 15:49] #28 closed

[2021-06-04 20:04] BronzW opened #30 "Very slow build times?"
I don't know if it's a problem you are able to solve, but tsc-alias is really screwing up my build times. I run tsc-alias both manually and in watch mode and it takes up about 90% of the build time. It would be really nice if some performance patches would be done, as I think it would boost this package popularity.

[2021-06-06 14:11] adam-coster opened #32 "Continues on error when `silent` option passed to Output class instance"
https://github.com/justkey007/tsc-alias/blob/19356e75d45e32a1a97aff524829ec4c90c88a16/src/utils/output.ts#L11-L14

It looks like the intention of the `silent` option is to disable console logging. However, in the case of calling `output.error` when that value is set, the early return prevents the process from being ended.

For example, in the entrypoint file using silent mode would allow the follo

[2021-06-06 22:33] #32 closed

[2021-06-07 01:06] Levhav opened #34 "Versions 1.3.0 and 1.3.1 are not works for my project."
Hi,
Versions 1.3.0 and 1.3.1 are not works for my project, but version 1.2.11 is working fine.

I have this error on the last version. But when I run `npx tsc-alias@1.2.11` it works without errors.

[code]

Thanks for your project!

[2021-06-07 01:36] justkey007 commented on #34
Hi, I would like to have more details on your project structure or either please add a test project with the same structure and config of your project in order to fail the tests. Thank you

[2021-06-07 04:42] mikeahirsch commented on #34
I was getting `Cannot read property 'includes' of undefined` and had to switch to `npx tsc-alias@1.2.11` for it to work as well.

[2021-06-07 10:15] justkey007 commented on #34
Hi, I would like to have more details on your project structure or either please add a test project with the same structure and config of your project in order to fail the tests. Thank you

[2021-06-07 13:08] kangzeroo commented on #34
I am getting this issue too, but like @mikeahirsch said it works if I switch to `npx tsc-alias@1.2.11`

[2021-06-07 13:17] justkey007 commented on #34
Hello, can you provide me with a typical example of a project that fails because all tests pass. Thank you

[2021-06-07 13:34] adam-coster commented on #34
@mikeahirsch @kangzeroo The place where the error is thrown is where the code is expected to find some quote characters `"'`. The regex being used to match import statements has been updated and now also included `\`` characters; do you have any import/require statements in your code that use backticks (`\``) instead of single/double quotes?

https://github.com/justkey007/tsc-alias/blob/a3ae38d39c

[2021-06-07 14:02] justkey007 commented on #34
@adam-coster Even when I replace the code in [project3](https://github.com/justkey007/tsc-alias/blob/a3ae38d39cb950b865f0dbe4833439f127fbe952/projects/project3/src/index.ts) with this code using the backticks I don't see any errors.

[code]

So @mikeahirsch  and @kangzeroo can quickly modify the code in node_module and do a `console.log(orig)` before this code here on line 112 from `node_modules/t

[2021-06-07 14:22] #34 closed

[2021-06-17 21:19] adam-coster opened #36 "Spurious matches when the "for" keyword is inside a string"
The regexes used to match import statements assume that the import-related keywords (`from`, `import`, `require`) always carry their functional meaning. But these keywords can also appear inside of strings and comments, where they no longer mean the same thing.

I stumbled on an example that, stripped down, looks like this:

[code]

The regexes end up claiming that the following is an imported pat

[2021-06-17 22:41] #36 closed

[2021-06-22 20:10] thepedroferrari opened #38 "Not parsing on await imports"
Hi there, I found one issue where trying to await imports on a file without extension doesn't translate the build file with the extension.

example:

[code]

I thought it would be possible due to https://github.com/justkey007/tsc-alias/blob/master/src/utils/ImportPathResolver.ts#L23 but if I leave `.js` out it will be out when I build with `ttsc`

Let me know if I can help debug this even further.

[2021-06-23 07:51] #38 closed

[2021-06-24 21:08] alvis opened #39 "Doesn't work if the prefix in paths is not used as a directory"
I have a tsconfig like the following:
[code]

In my ts file deep in the root directory, let's say `src/a/index.ts`, I can simply use
[code]
to get the export in either `src/b.ts` or `src/b/index.ts`.

## Expected Result
In `src/a/index.js` after using `tsc-alias`, the result should be the following:
[code]

## Current Result
However, currently, the output is the following and it's unresolvable:
[c

[2021-06-24 22:24] #39 closed

[2021-06-25 02:21] dustinlacewell opened #41 "Regression: Keep aliases in source files"
It looks like this issue is back: https://github.com/justkey007/tsc-alias/issues/21

It was apparently fixed here: https://github.com/justkey007/tsc-alias/commit/fba00da328275076990d9c2b35fe5f8f437931ad#diff-a2a171449d862fe29692ce031981047d7ab755ae7f84c707aef80701b3ea0c80L232

But then was undone here: https://github.com/justkey007/tsc-alias/commit/0b96d9ef2a99a2c162abb05bd714cea2de06d384#diff-a2a

[2021-06-25 08:18] #41 closed

[2021-06-27 00:16] GoodnessEzeokafor opened #42 "Invalid file path"
Error:  Invalid file path => tsconfig.json

[2021-06-28 14:51] raouldeheer commented on #42
could you please provide sure screenshots of the problem with more context?

[2021-07-01 19:02] #42 closed

[2021-07-02 14:12] alvis opened #43 "Replacement get ignored in some cases if the prefix is not immediately followed by a '/'"
I have a tsconfig like the following:
[code]

In my ts file deep in the root directory, let's say I have `src/a/index.ts` and `src/a/b/index.ts`, and there is a file referencing these two files like the following:
[code]

## Expected Result
After using `tsc-alias`, the result should be the following:
[code]

## Current Result
However, referencing to `#a/b` is somehow ignored, but referencing to `#

[2021-07-02 15:06] #43 closed

[2021-07-02 23:36] justkey007 opened #45 "Matching an alias to another inappropriate import path"
Following pull request #44

I have a typescript config as follows:
[code]
And I do an import like this:
Important: the `router` folder does not exist
[code]

## Expected Result
After using `tsc-alias`, the result should be the following:

[code]

## Current Result
[code]

## Proposed solution
Sort aliases in descending order according to their length

[2021-07-02 23:43] #45 closed

[2021-07-20 08:56] hanrea opened #46 "How to use it with vscode task?"
Hi guys !   How to use it with vscode task.json?

[2021-07-20 09:20] hanrea commented on #46
task.json
[code]

packager.json
[code]

[2021-07-20 09:20] #46 closed

[2021-07-25 10:45] jjangga0214 commented on #30
`replaceAlias` is called against every target files.

https://github.com/justkey007/tsc-alias/blob/11379a252c80be635e989a69bcedb82bf07823e7/src/index.ts#L264-L269

However, file IO is synchronous(`readFileSync`), instaed of being async.
https://github.com/justkey007/tsc-alias/blob/11379a252c80be635e989a69bcedb82bf07823e7/src/index.ts#L223-L224

[2021-07-27 23:47] #30 closed

[2021-08-03 05:06] Soviut opened #48 "Relative path off by one with baseUrl set"
I had my tsconfig.json set up with

[code]

This compiled....

[code]

To the following (the relative path has an extra `../`)

[code]

Changing the tsconfig to the following fixed the issue. Now the require only has `../../pipeline`.

[code]

[2021-08-12 19:08] BobertForever opened #49 "compilerOptions.baseUrl is required despite no longer being necessary"
As discussed in https://github.com/microsoft/TypeScript/issues/31869, baseUrl is no longer necessary to use paths, so long as the paths non-relative. However, this tool still asserts the field being present.

[2021-08-12 22:06] #49 closed

[2021-08-14 23:09] justkey007 commented on #48
@Soviut
I tried to reproduce your problem but couldn't. An example of a project to raise the problem encountered on your part will help us a lot. Thank you

Or tell me which file you made this import from?

Check on [this](https://github.com/justkey007/tsc-alias/tree/justkey007/issue48/projects/project14) branch with project 14 if we have the same structure.

[2021-08-15 00:15] Soviut commented on #48
@justkey007 my project structure is

[code]

[2021-08-15 14:06] justkey007 commented on #48
@Soviut
I just [updated](https://github.com/justkey007/tsc-alias/tree/justkey007/issue48/projects/project14) the structure as you told me but I am not getting any issues. Maybe you had encountered the error with an old version if not try to provide me with a test project which raises your problem. Thank you

[2021-08-16 15:09] Soviut commented on #48
According to my package.json

[code]

Also my build script is

[code]

[2021-08-17 04:26] y-nk commented on #48
I'm actually running into the exact same issue.

I've tried 2 ways:

1.

[code]

which results in `tsc-alias` linking back to my src folder.

2.

[code]

which results in `tsc-alias` linking back one time too much just like OP.

[2021-08-17 04:37] lucky06688 opened #51 "`tsc --watch & tsc-alias --watch` not work"
#### Describe the bug
`tsc --watch & tsc-alias --watch` not work for the first time tsc creates a file, alias is not replaced
#### Version Info
Node version [12.16.3]
OS version: [macOS Catalina 10.15.7]
#### To Reproduce
run `tsc --watch & tsc-alias --watch`
#### Expected behavior:
alias be replaced

[2021-08-17 05:02] lucky06688 commented on #51
https://github.com/justkey007/tsc-alias/pull/53

[2021-08-17 11:20] justkey007 commented on #48
@Soviut @y-nk
If you can add a test project that causes the tests to fail that would be super cool. Thank you

[2021-08-17 11:22] #51 closed

[2021-08-21 03:19] nrayburn-tech commented on #48
I am having a similar issue.  It can be worked around by specifying the `--dir` parameter.  For example, `npx tsc-alias --dir dist/src` in my case.

Initially, I did not need to specify the `--dir` parameter.  The issue presented when I imported a file from the same folder level as the `src` and `tsconfig` entries.  I think this is because the output of `tsc` changed from going directly into `dist

[2021-09-30 20:11] webpepper opened #54 "Bad npm package build 1.3.9"
Release https://github.com/justkey007/tsc-alias/releases/tag/v1.3.9 that adds the _add_ event listener doesn't have that new code in the npm package.

Because of it nothing happens on initial build in watch mode when there are no files generated by tsc yet.

https://registry.npmjs.org/tsc-alias/-/tsc-alias-1.3.9.tgz

[code]

[2021-10-01 07:36] raouldeheer commented on #54
The 'add' event is indeed missing. But the add event was added after the 1.3.9 release.

On [github](https://github.com/justkey007/tsc-alias/blob/master/src/index.ts) now:
[code]

On [github](https://github.com/justkey007/tsc-alias/blob/master/src/index.ts) at release 1.3.9:
[code]

On [unpkg](https://unpkg.com/browse/tsc-alias@1.3.9/dist/index.js) (npm)
[code]
Github 1.3.9 is the same as npm 1.3.

[2021-10-01 19:21] mctrafik opened #55 "Not finding @tsconfig packages in NPM7 workspace."
Running into this issue now:

[code]

Where it shouldn't be found because this package is part of a monorepo and all the packages are in the node_modules at the root, directory. I.e. `tsc-alias` should be looking at `$WORKSPACE/$REPO/node_modules/@tsconfig/node14/tsconfig.json`. I.e. it should be using the normal module resolution, recursively checking ancestor directory's `node_modules`.

More sp

[2021-10-02 20:12] raouldeheer commented on #55
@mctrafik Do you have a public repo I could use for testing a fix?

[2021-10-03 08:05] mctrafik commented on #55
I don't have a public repo. The files you'd need to set-up a repro:

Root: `/package.json`:

[code]

`/packages/packageA/package.json`:

[code]

`/packages/packageB/package.json`:

[code]

Now run `npm install && npm build` from root and it should install the entire workspace and build it and the build step fails.

[2021-10-03 14:15] raouldeheer commented on #55
I've added the test project to the pull request.
The test is passing with the fix, so it should be fixed in the next release.

[2021-10-05 18:45] #55 closed

[2021-10-05 18:53] #54 closed

[2021-10-06 11:38] jgod commented on #30
Yes. I noticed ESBuild for 15k LOC takes just over a second, and resolving the imports using this package takes 500ms.

[2021-10-23 16:46] ccollie opened #59 "Support ts4.5"
I looked at the source, and it seems straightforward to support additional extensions. In particular typescript adds support for `mjs` and `cjs` ,  which comes in handy for `ESM`.

[2021-10-26 08:06] #59 closed, assigned to nobody

[2021-10-30 05:04] AlanMorel commented on #48
I can also confirm that I'm having the same general issue on 1.40. I get `compilerOptions.outDir is not set` on 1.4.0 but it is just fine when I revert back to 1.3.10.

[2021-10-30 06:53] raouldeheer commented on #48
@elclanrs @AlanMorel the issue of commander options being undefined has been fixed in pr #61. It will be fixed in the next release.

[2021-10-30 07:02] AlanMorel commented on #48
Very much appreciated, thank you! 🙏

[2021-11-02 12:10] Lazarencjusz opened #62 "tsc-alias does not take custom tsconfig.json file"
Hi,

like above, I run command `tsc-alias -p tsconfig.compile.json` and I get error `compilerOptions.paths is not set` which is not tru for above file, but it is true for default `tsconfig.json` file. So I put `paths` to default `tsconfig` and the error changed to missing `outDir` which again, is missing from `tsconfig.json` but exists in `tsconfig.compile.json`.

This bug exists from `@1.4`.

[2021-11-02 13:19] clifflaschet commented on #62
I observed the same issue in `1.4.0`, when using a particular tsconfig file passed via the `-p` option. Not occurring in `1.3.10`.

[2021-11-02 16:34] raouldeheer commented on #62
@Lazarencjusz @clifflaschet the issue of commander options being undefined has been fixed in pr #61. It will be fixed in the next release.

[2021-11-02 21:09] haoadoresorange opened #63 "[Feature] Support baseUrl without paths"
As title said, should it work without any paths but only baseUrl ?

[2021-11-09 00:47] KakakuCZ commented on #62
same here :(

[2021-11-09 01:39] AlanMorel commented on #48
Since this is a blocking issue for people, is there an estimate for when the release will be cut? Or can a smaller quicker release be made just to address this specific issue?

[2021-11-09 08:02] raouldeheer commented on #48
@justkey007

Is there an estimate?

[2021-11-09 11:06] tusbar commented on #62
If you’re using `yarn`, you can define the following resolution in your `package.json`:

[code]

Not sure how to do this with `npm`. :)

[2021-11-14 18:38] ChlorUpload opened #65 "tsc-alias command line arguments are not parsed"
I found that `tsc-alias --watch` does not work and why this issue is happening.

In `src/bin/index.ts`, your code to parse command-line arguments seems good. But this change is not reflected in the `dist/bin/index.js` (current version is v1.4.0).

p.s. I think using `concurrently` would be stable.

(in package.json)
"build:watch": "concurrently  \\"tsc -w\\" \\"tsc-alias --watch\\""

[2021-11-14 18:56] raouldeheer commented on #65
This is a known issue. fixed in #61.

https://github.com/justkey007/tsc-alias/issues/62#issuecomment-957924947
https://github.com/justkey007/tsc-alias/issues/48#issuecomment-955161443
https://github.com/justkey007/tsc-alias/discussions/64

[2021-11-14 19:01] raouldeheer commented on #63
Do you mean [this](https://github.com/justkey007/tsc-alias/discussions/27)?

[2021-11-15 13:10] #65 closed

[2021-11-15 13:26] raouldeheer commented on #62
@Lazarencjusz @tusbar @KakakuCZ @clifflaschet The 1.4.1 patch is now on npm. So this issue should be fixed.

[2021-11-15 13:30] #62 closed

[2021-11-15 13:31] #48 closed

[2021-11-15 13:34] raouldeheer commented on #48
@AlanMorel @elclanrs The 1.4.1 patch is now on npm. So the problem of "compilerOptions.outDir is not set" should be fixed.
Does the fix by @nrayburn-tech work for everyone?

[2021-11-16 00:21] AlanMorel commented on #48
1.4.1's looking good on my end!

[2021-11-17 04:02] haoadoresorange commented on #63
hmm no I mean, currently tsc-alias work with `paths` field in `tsconfig`. But setting only `baseUrl` has similar effect, could it work with that only ?

[2021-11-17 07:41] raouldeheer commented on #63
Right now it wouldn't work, because tsc-alias makes a list of all aliases and matches that with the imports. So when paths is empty there won't be any aliases to match so it won't find any results.

[2021-11-18 03:49] haoadoresorange commented on #63
is that something viable ?

[2021-11-20 09:39] justkey007 commented on #63
@haoadoresorange
How setting only baseUrl has a similar effect? Are you saying that without defining the paths option in tsconfig you can use aliases using only baseUrl?

[2021-11-20 15:33] raouldeheer commented on #63
The requested behavior is that "index" will be replaced by "${baseurl}/index". Where index can be any path in the baseurl directory.

[2021-11-22 09:48] raouldeheer commented on #63
I've got a prototype of this feature working; I'll improve it tomorrow. Haven't fully tested it yet so I'm not sure if it's a viable solution.

[2021-11-22 14:35] justkey007 commented on #63
@raouldeheer @haoadoresorange
Thank you, the request was well understood

[2021-11-23 10:29] #63 closed

[2021-12-01 07:58] FeSeason opened #69 "The declaration file was not replaced ？"
[code]
#### The declaration file was not replaced after the declaration file was generated.

[2021-12-01 16:25] raouldeheer commented on #69
@FeSeason
Which version of tsc-alias are you using?
What options are you using?
Is baseUrl and paths set in your tsconfig.json?

[2021-12-02 07:03] FeSeason commented on #69
@raouldeheer

`tsc-alias: 1.41.`

package.json build script,  use default option

[code]

[code]

#### A solution was founded. If the declarationdir and outdir are consistent, the replacement can be successful！ 😄

[2021-12-06 10:22] #69 closed

[2021-12-06 17:53] she11sh0cked opened #71 "Replaces require to npm module"
Given the following typescript file...
[code]
with the following tsconfig...
[code]
tsc-alias modifies the imports like so:
[code]

I guess the `require('graphql')` is modified because there is a folder called "graphql" in `src/` right? Is there a way to prevent paths to npm packages from being modified?

Here is a repo containing a jest test for this: https://github.com/she11sh0cked/tsc-alias-iss

[2021-12-06 20:04] raouldeheer commented on #71
This problem is because of issue #63
This shouldn't happen if the `graphql` directory doesn't have a index file.

[2021-12-06 20:40] she11sh0cked commented on #71
The [graphql directory](https://github.com/she11sh0cked/tsc-alias-issue/tree/main/src/graphql) does in fact not have a index file.

[2021-12-06 21:34] raouldeheer commented on #71
pr #72 should add the functionality to disable the BaseUrl replacer with a simple tsconfig option.

[code]

[2021-12-10 17:20] nicholas-ochoa opened #75 "Issue with relative folder imports such as `./something` for `./something/index.ts` when using `--resolve-full-paths`"
I'm seeing a problem with relative folder imports that have an implied `index.js` when using `--resolve-full-paths`. I'm running `tsc-alias --resolve-full-paths` for each of these examples:

Before:
<img width="231" alt="image" src="https://user-images.githubusercontent.com/126299/145614285-543582bd-d795-427a-a19c-b7831ed5fe04.png">

Actual Output:
<img width="264" alt="image" src="https://user-im

[2021-12-10 19:18] raouldeheer commented on #75
@nicholas-ochoa Does pr #76 fix your issue?

[2021-12-10 20:03] nicholas-ochoa commented on #75
@raouldeheer That seems to have fixed it perfectly. Thank you for the quick turnaround!

[2021-12-11 08:28] #75 closed

[2021-12-13 16:37] #71 closed

[2021-12-15 06:16] ThiagoNP opened #79 "Imports breaking on >1.4.0"
I'm upgrading the dependencies on my projects, and after upgrading tsc-alias (to 1.4.1 or 1.5.0), some of my imports are breaking.

The `paths` on my tsconfig is like this:
[code]

But this

[code]

Is becoming
[code]

I think it's because there is a redux folder on the folder it's compiling, but it should not be parsed, as it does not begins with `~/`

----
Another problem I had, was because some

[2021-12-15 08:43] raouldeheer commented on #79
@ThiagoNP
What version are you using now?
Are you using tsc-alias with command-line?

[2021-12-15 15:22] raouldeheer commented on #79
@ThiagoNP

This is probably because it's resolving to the baseUrl. This could be solved by add a small config to tsconfig.json.
More info on this is in issue #71
[code]

***

The second problem happens because tsc-alias checks if the file exists, because if it doesn't it will use the next path in the array (in the tsconfig each path has an array of solutions).
But this problem can be easily fixed

[2022-01-01 20:37] raouldeheer commented on #79
@justkey007 There has been no activity on this issue for over 14 days now. So, I assume the problem has been fixed or this issue could be marked as stale.

[2022-01-03 04:27] #79 closed

[2022-01-19 09:59] eng-dibo opened #81 "use with ts-node"
how to configure `tsc-alias` to be used with `ts-node`?
you may need to implement a register

[code]

`tsconfig-paths` and `module-alias` don't work with module projects. i.e if you set `type: module` in your package .json

[minimal repo](https://stackblitz.com/edit/node-z4b52r?file=index.ts)
run `npm run start:paths`

[2022-01-19 16:05] eng-dibo commented on #81
that's why I want to depend on it on both compiletime (as it) and runtime (as suggested in this issue)

[2022-01-22 23:01] MohamadKh75 opened #82 "Bug: replace module names incorrectly (default import)"
Hey

First of all, thanks for this awesome package 😁

We have a small bug.

## Steps

1. Import [`sharp`](https://github.com/lovell/sharp) with:

[code]

2. Run `"tsc && tsc-alias"`

## Expected

Compiled to JS:

[code]

## Actual

Compiled to JS:

[code]

So there the bug is here! If I remove `tsc-alias`, I can run the project successfully (via `tsconfig-paths` for testing)

[2022-01-22 23:07] raouldeheer commented on #82
@MohamadKh75
This sounds like issue #71
Is there a file in the upper directory called sharp?

[2022-01-22 23:13] MohamadKh75 commented on #82
Thanks for your flashy quick response ❤️

Yep, and I fixed it with:

[code]

[2022-01-23 09:33] eng-dibo commented on #81
any news?

[2022-01-23 09:42] raouldeheer commented on #81
It will take a bit more time because tsc-alias needs files to resolve the aliases and tsc-alias was never designed for runtime use.

[2022-02-03 15:46] kraftwerk28 opened #83 "Some import paths aren't replaced"
Here's a reproduction repl:
https://replit.com/@kraftwerk28/IntrepidMediumblueOffice#tsconfig.json

Files worth to look at are `tsconfig.json`, `index.ts` and `build/index.js`. 2nd and 3rd imports generated in `build/index.js` aren't replaced by `tsc-alias`. I believe the tool doesn't work well with `$` and with `foo/*.bar` (where there's a trailing path after the glob).

[2022-02-03 17:36] raouldeheer commented on #83
@kraftwerk28 Thank you for opening this issue.
`$` doesn't working because `$` is a regex anchor.
Trailing path after the `*` doesn't work because `tsc-alias` expects the `*` to be the last char of an alias.

[2022-02-10 17:12] eturino opened #84 "Ability to run for a single file, and return the modified content as a string"
That way we could use tsc-alias as a custom jest transformer.

[2022-02-10 17:30] raouldeheer commented on #84
@eturino
I'll look into it. Should that be available as an exported function?

[2022-02-10 19:09] eturino commented on #84
I'm preparing a PR for it @raouldeheer

[2022-02-10 19:11] eturino commented on #84
@raouldeheer PR with tests and the rest #85

[2022-02-10 19:55] #84 closed, assigned to nobody

[2022-02-10 21:03] eturino commented on #84
Thanks a lot @justkey007. Could I ask you to make a release? 😊

[2022-02-10 21:20] justkey007 commented on #84
Yes I will soon. Thank you

[2022-02-12 21:00] raouldeheer opened #88 "Unit tests failing on windows"
@justkey007
Since `1.6.0` unit tests started failing on windows: [results](https://github.com/raouldeheer/tsc-alias/actions/runs/1834823117).
On `1.5.0` unit tests still succeeded on windows: [results](https://github.com/raouldeheer/tsc-alias/actions/runs/1834826660).

[2022-02-12 22:56] justkey007 commented on #88
hi @raouldeheer
I just saw the result of the test and I see that there is a concern at the windows system level on the interpretation of the correspondence pattern for the search for files.

[2022-02-12 23:00] justkey007 commented on #88
Either it is at the level of the globby module which does not correctly support this version of windows

[2022-02-18 19:16] raouldeheer commented on #83
@sinbino #91 should fix that

[2022-02-18 20:03] #83 closed

[2022-02-21 07:47] VieZhong opened #93 "UnhandledPromiseRejectionWarning: TypeError: replacer is not a function"
// tsconfig.json
<img width="328" alt="image" src="https://user-images.githubusercontent.com/16253049/154910138-db3b34b1-5094-4011-baa4-8d6f655d56d3.png">

// tsc-alias-replacer.js
<img width="295" alt="image" src="https://user-images.githubusercontent.com/16253049/154910056-10fe7d31-32d9-47e1-95bf-a848e0a1c2a5.png">

The code doesn't work when I upgrade the latest version.

But when I use the old

[2022-02-21 09:45] VieZhong commented on #93
<img width="369" alt="image" src="https://user-images.githubusercontent.com/16253049/154929427-d8de6b88-f932-4a9f-ae6e-6c1aa6974a35.png">

It works when I add these code before exports.default. But is it the bestest way to solve the problem?

[2022-02-21 18:21] raouldeheer commented on #93
@VieZhong I'll look into it, it's probably an issue with esModuleInterop. While trying to reproduce this bug also found out that replacers don't work in esm projects. This should be fixed in the next release.

[2022-02-22 12:18] VieZhong commented on #93
@raouldeheer Is there a plan to publish a new version?

[2022-02-22 17:57] raouldeheer commented on #93
Next release will probably be released some time next 30 days. I recommend staying on `1.6.0` until `1.6.2` has been released.

[2022-02-23 02:06] dittmarconsulting opened #95 "Urgent help needed - Failed to import `replacer` file"
Hi there,

I've been trying to use this package successfully but I can't import the replacer file.

Here is my file structure

[code]

In the Button file, I use an alias for the path like `require('#/assets/images/button.png')`

Here is my project `tsconfig.json`

[code]
I can build the project fine with `tsc` without errors but as soon I add the `tsc-alias` section in the `tsconfig.json` file I g

[2022-02-23 03:17] justkey007 commented on #95
Hello, you need to move the "pathReplacer.js" file to the root of your project. That is, in the folder (`process.cwd()`) from which you launch tsc-alias.

Like this:
mono-repo
- packages
- - project
- - - src
- - - - assets
- - - - component
- - - - - Button
- - tsconfig.json
tsconfig.json
pathReplacer.js

[2022-02-23 04:47] dittmarconsulting commented on #95
Hi @justkey007,

Thank you for your fast reply. Much appreciated.

Let's rename the mono-repo and the project to something meaningful like `bestapp` and `ui-components`. So the folder structure would look like that now

[code]

The `package.json` file of `ui-components` project I would look like that:

[code]

and I would invoke the `build:library` command from the mono-repo root like that

[code]

[2022-02-23 05:36] dittmarconsulting commented on #95
OK, I'm a step further with the investigation.

I actually print out the catch errors for:

[code]

in file `node_modules/tsc-alias/dist/helpers/replacers.js`

And got this error

[code]

Then I changed the import of the `pathReplacer.js` like that

[code]

But now I get this error

[code]

[2022-02-23 05:46] #95 closed

[2022-02-23 06:00] dittmarconsulting commented on #95
I know you closed this issue @justkey007

But I also logged out how the `replacer` object looks like (line 71)

[code]

[code]

[2022-02-23 06:03] justkey007 commented on #95
Please specify the tsconfig in which the replacer parameters are located as here.
https://github.com/justkey007/tsc-alias/blob/68e0083dc6f812498f92ef2e2f3969d073ec05b9/projects/project20/package.json

[2022-02-23 06:06] justkey007 commented on #95
Please specify the tsconfig in which the replacer parameters are located as here. And don't forget to use the new 1.6.2

https://github.com/justkey007/tsc-alias/blob/68e0083dc6f812498f92ef2e2f3969d073ec05b9/projects/project20/package.json#L1-L9

[2022-02-23 06:14] dittmarconsulting commented on #95
The only command that worked was this one

[code]

But now I get this error

[code]

[2022-02-23 06:23] justkey007 commented on #95
What is the content of this file "/<user path>/react-native/bestapp/packages/ui-components/pathReplacer.js" ?

[2022-02-23 06:25] dittmarconsulting commented on #95
Just like that

[code]

I don't know if I have to give `option` since I suspect that the alias comes from the `tsconfig.json` file.

[2022-02-23 06:28] justkey007 commented on #95
I specify that the default tsconfig is the one located at the location from which you launch the `tsc-alias` command

[2022-02-23 06:29] dittmarconsulting commented on #95
Yes.

Here the content

[code]

[2022-02-23 06:30] justkey007 commented on #95
This is not the right content, please take inspiration from [Project 20](https://github.com/justkey007/tsc-alias/tree/68e0083dc6f812498f92ef2e2f3969d073ec05b9/projects/project20)

[2022-02-23 06:36] dittmarconsulting commented on #95
I see. That was not clear from the docs.

I tried that

[code]

No errors but all paths are still the same

[2022-02-23 06:43] dittmarconsulting commented on #95
Sorry, my bad. I can see that the import paths now have changed.

AWSOME @justkey007

That's amazing.

If for instance an `Image` has a `require('#/assets/images/access-camera-roll.png')` like that. That is untouched and I only looked at that.

[2022-02-23 06:46] justkey007 commented on #95
This is where your `pathReplacer.js` file will play its part if you put the right code in it.

[2022-02-23 06:48] dittmarconsulting commented on #95
Awesome.

Thank you so much for your help.

I only looked at the https://github.com/justkey007/tsc-alias#usage section and thought I have to write the `replacer` like that.

WELL DONE !!!

[2022-02-23 08:26] MohamadKh75 commented on #82
Hey!

I guess https://github.com/justkey007/tsc-alias/pull/94 has made a regression cause I get this exact error even with:

[code]

cc @raouldeheer

[2022-02-23 08:48] raouldeheer commented on #82
@MohamadKh75 The name of baseurl has been changed to `baseurl` in the `1.6.2` release.

[2022-02-23 09:32] MohamadKh75 commented on #82
Well, I guess that should be a breaking change then 😁

[2022-02-23 09:36] #82 closed

[2022-02-23 20:30] SpudNyk opened #97 "tsc-alilas 1.6.2 does not work on windows"
It fails to find any files in the outDir,

From some investigation this is because the windows absolute path is given to globby (this has backslashes).

The globs provided to globby should only have forward slashes:

changing the code in replaceTscAliasPaths to:
[code]

Fixes, I'm not sure if this is the best place to fix it.

[2022-02-23 20:34] SpudNyk opened #98 "verbose option not working"
Whilst trying to debug tsc-alias I noticed the -v or --verbose flag appeared to have no effect

[2022-02-23 21:19] #98 closed

[2022-02-24 20:08] #97 closed

[2022-03-03 19:39] gbenson-ff opened #100 "Versions 1.6.2 and higher no longer replaces aliases"
After upgrading `tsc-alias` to `1.6.2` from `1.6.1`, the tool seemingly no longer works.

I have a single entry in `paths` in my `tsconfig.json`:
[code]

I build my types with the following command: `tsc --emitDeclarationOnly --outDir dist && tsc-alias`

Previously it worked without issue.  After the upgrade, tilde paths in my `.d.ts` files are no longer replaced with relative paths.

I'm happy to

[2022-03-03 19:43] raouldeheer commented on #100
@gbenson-ff this is a known issue fixed in `1.6.3`.
This is probably a duplicate issue of #97

Please try upgrade to `1.6.3` and check if the issue still occurs.

[2022-03-03 19:45] gbenson-ff commented on #100
Upgrading to `1.6.3` doesn't resolve the issue for me.  That's actually the version I was using when I noticed the issue.

[2022-03-03 19:53] raouldeheer commented on #100
Is `declarationDir` set to something?
What is the `baseUrl`?

[2022-03-03 20:10] gbenson-ff commented on #100
`declarationDir` is set to `./dist`

`baseUrl` is `./`

This is on Linux.

[2022-03-03 20:40] raouldeheer commented on #100
It seems I can't reproduce this bug.
This is the config I tried with the same command:
[code]

@justkey007 can you take a look at this?

[2022-03-03 21:50] gbenson-ff commented on #100
I think I've narrowed it down a bit.  The tsconfig I'm using in this project extends a tsconfig from an npm package.  Here's the two:

`tsconfig.json` (local)
[code]

`@formfree/tsconfig/base.json` (npm package)
[code]

If I instead dump the contents of `@formfree/tsconfig/base.json` into the local `tsconfig.json` and adjust the paths, `tsc-alias` works correctly.  Using the extended config setup

[2022-03-03 22:33] justkey007 commented on #100
Alright, I'll try to reproduce the error so that I fully understand what it is.

@gbenson-ff can you provide us with a repo reproducing the bug in order to quickly resolve this problem?

[2022-03-04 10:44] raouldeheer commented on #100
@gbenson-ff can you provide us the console output when running with `-r debugger.js`?
With the `debugger.js` file contents being:
[code]

[2022-03-04 14:03] gbenson-ff commented on #100
@justkey007 Sure, I can.  It'll take me a minute, but I'll comment here again when I have something up.

@raouldeheer I did what you said, but got no console output.
![Screenshot from 2022-03-04 09-02-25](https://user-images.githubusercontent.com/67277054/156777110-aa2dc064-57e6-4abc-9c49-f163386b1810.png)

[2022-03-04 14:15] raouldeheer commented on #100
No output means that it found no import statements.

[2022-03-04 14:27] gbenson-ff commented on #100
@raouldeheer Sure, here's the output:
[code]

@justkey007 I've put together a repo to reproduce my scenario: https://github.com/gbenson-ff/tsc-alias-bug

If you clone it, run `npm i` then `npm run build` then `cat dist/index.d.ts` you'll see that my tilde aliases are left as-is.

[2022-03-04 14:36] raouldeheer commented on #100
it has loaded the config correctly. `~` is loaded into the aliastrie.
The problem is probably something with the globPattern and being outDir: '../../../dist'.

[2022-03-05 15:45] #100 closed

[2022-03-13 21:53] pp0rtal opened #102 "Breaking change on `v1.4.2`: doesn't replace an alias ended by `/` anymore [minor bug]"
<details>
<summary>Thank you for working on tsc-alias :hugs: </summary>

I'm glad to see this project moving, and see a nice peak on npm download!
It's so much more cleaner to drop aliases at compile time!
</details>

### Breaking change description
For this alias config:
[code]

Using it like following:
[code]

Then, my import is **not** converted

[code]

### History
I bumped my tsc-watch from `

[2022-03-14 07:24] pp0rtal opened #103 "Breaking change on `v1.4.2`: replacement for non-alias :exploding_head:"
Hi!
I've got a second bug spotted on ([first minor here](https://github.com/justkey007/tsc-alias/issues/102)), and since 1.4.2
and I think this one is quite interesting as it's **replacing a NodeJs native library** import statement.

### Description / steps to reproduce
1. `tsconfig.json` alias config doesn't matter!
[code]

2. file to convert `/utils/index.js`, which does contain a Node.js native

[2022-03-14 08:05] raouldeheer commented on #102
@pp0rtal
Try using `@backend/config` instead of `@backend/config/`. Does that work or is that also broken?

[2022-03-14 08:09] raouldeheer commented on #103
Try this config: https://github.com/justkey007/tsc-alias/issues/79#issuecomment-994896616

[2022-03-14 08:39] #102 closed

[2022-03-14 10:22] pp0rtal commented on #103
@raouldeheer Thanks for your quick answer!

I tried to add `tsc-alias` config in my `tsconfig.json` as following
[code]

But I still have the same issue

[2022-03-14 10:29] raouldeheer commented on #103
The name of BaseUrl has been changed to 'baseurl' all lowercase.

[2022-03-14 10:30] justkey007 commented on #103
@pp0rtal please replace `BaseUrl` with `base-url`.

[2022-03-14 10:35] #81 closed

[2022-03-14 10:52] pp0rtal commented on #103
@raouldeheer cc @justkey007 Works perfectly know! :smile:
And I see you fixed the original solution perfect :+1:
I'm closing ticket then.

----

Just by curiosity
I'm surprised this behavior is the default, what is the use-case of this?
Shouldn't be `base-url` default to false, and activated for edge cases?

[2022-03-14 15:58] raouldeheer commented on #103
"All module imports with non-relative names are assumed to be relative to the [baseUrl](https://www.typescriptlang.org/tsconfig#baseUrl)." -[typescript handbook](https://www.typescriptlang.org/docs/handbook/module-resolution.html#base-url)

[2022-03-14 17:38] #103 closed

[2022-03-23 19:58] marneborn opened #104 "Aliases to files don't resolve properly"
To reproduce
project
| -- src
|   -- constants.ts
|   -- app.ts

tsconfig.json
[code]

src/constants.ts
[code]

src/app.ts
[code]

Results in
[code]

It should be:
[code]

Using path-cache's exists method instead of just fs.existsSync makes my case work...

[2022-03-24 09:53] #104 closed

[2022-03-24 23:56] MergeCommits opened #107 "Unable to detect files when the project includes files in a parent directory"
I have a setup where there's a `functions` directory that contains a project, and then a `shared` folder adjacent to it with additional TS files.

When I add the paths for the files in the `shared` folder to the project and include those files, the alias command no longer detects any files until I rerun the build with the shared path removed.

### Reproduction
https://github.com/MergeCommits/tsc-a

[2022-03-25 18:10] raouldeheer commented on #107
@MergeCommits Are you running on linux or windows?
The reproduction is very similar to project1 in the testing projects. It seems that project1 doesn't resolve aliases on windows but works on linux.

[2022-03-25 23:43] MergeCommits commented on #107
I'm running on Windows.

[2022-03-26 17:54] raouldeheer commented on #107
Found the bug in `getProjectDirPathInOutDir`, globbysync needs outDir to be in posix format.

[2022-03-26 19:35] raouldeheer commented on #107
Thank you @MergeCommits for reporting this bug, it should be fixed in #108
The reproduction repo was very helpful.

[2022-03-27 11:44] snoweuph opened #109 "tsc-alias replaces path that shouldn't be replaced"
Node Version: 16.14.2
tsc-alias Version: ^1.6.5
tsc Version: 4.5.5

I have a file structure of
[code]

In My tsconfig.json I defined some paths like, there is none called 'events'
[code]
and I defined the baseUrl
[code]

inside of the `StateManager.ts` I import the EventEmitter from the default package called 'events'
[code]

**PROBLEM:**
adding the `baseUrl` inside of the `tsconfig.json` lets `ts

[2022-03-27 14:13] raouldeheer commented on #109
Try this config: https://github.com/justkey007/tsc-alias/issues/79#issuecomment-994896616

Duplicate of #103

[2022-03-27 14:29] snoweuph commented on #109
thx, that helped, sry for not checking the closed issues and stealing your time

[2022-03-27 14:29] #109 closed

[2022-03-27 14:31] raouldeheer commented on #109
No problem, I'll make a frequently asked questions list soon.

[2022-03-27 14:45] snoweuph commented on #109
:+1:

[2022-03-27 17:14] #107 closed

[2022-03-31 09:29] ulysset opened #111 "Upgrading from 1.6.4 to 1.6.5 breaks"
Hi, thank you so much for this amazing lib :)

Everything works fine when using 1.6.4 I get `tsc-alias info: 94 files were affected!`
But when I switch to 1.6.5 I get `tsc-alias info: 0 files were affected!` (I don't get any errors)
It seems like this commit broke my config https://github.com/justkey007/tsc-alias/commit/0abf049bc8021518bd5e1e6afc63dcc077a0f885

My tsconfig is
[code]
I don't unders

[2022-03-31 09:39] raouldeheer commented on #111
@ulysset can you provide us the console output when running with -r debugger.js? Working version and nonworking version?
`debugger.js` file placed next to `tsconfig.json`.
With the `debugger.js` file contents being:
[code]

[2022-03-31 09:58] raouldeheer commented on #111
@ulysset can you try:
[code]
To get the full output in a file. It seems the log is too big for console.

[2022-03-31 10:19] ulysset commented on #111
Yes indeed, here you go:
[not-working.txt](https://github.com/justkey007/tsc-alias/files/8388379/not-working.txt)
[working.txt](https://github.com/justkey007/tsc-alias/files/8388381/working.txt)

[2022-04-01 22:40] ecker00 commented on #81
Is this no longer planned as the issue was closed?

[2022-04-02 07:33] justkey007 commented on #81
@ecker00 tsc-alias was never designed for runtime use.

[2022-04-11 13:32] Ge-yuan-jun commented on #111
same problem for me

[2022-04-13 16:17] thetayloredman opened #112 "What am I doing wrong? 0 files processed."
tsconfig:
[code]
script:
[code]

used `tsc-alias` and it works:
[code]

used `build` script and it fails
[code]

via npx also affects 0:
[code]

Environment issue? my fault?

[2022-04-13 17:08] raouldeheer commented on #112
@thetayloredman can you provide us the console output when running with -r debugger.js? Working version and nonworking version?
debugger.js file placed next to tsconfig.json.
With the debugger.js file contents being:
[code]

[2022-04-13 17:11] thetayloredman commented on #112
@raouldeheer
[code]

[2022-04-13 17:11] thetayloredman commented on #112
same without `./`

[2022-04-13 17:15] raouldeheer commented on #112
Can you give us a file tree of your project directory? For example using the `tree` command

[2022-04-13 17:16] thetayloredman commented on #112
[code]

[2022-04-13 17:43] thetayloredman commented on #112
@raouldeheer That fixed it... oversight in tsc-alias?

[2022-04-13 17:43] raouldeheer commented on #112
Yes this bug will be fixed in the next patch

[2022-04-18 09:14] wight554 commented on #112
the patch doesn't really help when outDir has subfolder
it worked fine before though
in my case path is:
```"outDir": "dist/server"```
I've tried:
[code]
None worked

[2022-04-20 00:33] #112 closed

[2022-04-20 21:00] pp0rtal opened #114 "Error: EMFILE, too many open files"
Hello,

I'm stuck when I use the `replaceTscAliasPaths` function,
it quickly triggers a system-related `Error: EMFILE, too many open files`.

About my project:
- I've got a project with 4000+ files to convert.
- The error happens on a low slow computer (old CPU, HDD - not an SSD)
- usual system got a soft limit of 1000 files (which can be upgraded up to a certain limit)

[code]

I think it's becau

[2022-04-21 08:41] #114 closed

[2022-04-21 08:51] pp0rtal commented on #114
@raouldeheer Wow, that was fast, thanks a lot for your reactivity! :rocket:

[2022-04-21 11:01] tcK1 opened #116 "Paths not updating if file not present at `outDir`"
Hey! First of all, thanks for the package.

I don't know if this is intended behavior or not, so sorry if I'm missing something here. When calling the replace algorithm programmatically for a single file (or more specifically, a string), if the file it's currently working on does not exist it won't update the paths. If I ran the exact same thing 2 times, the second one (when the file is on disk) w

[2022-04-21 11:27] raouldeheer commented on #116
@tcK1 Tsc-alias looks for the file that is being imported, when that isn't present Tsc-alias continues with another path. When no file is found that resolves the alias, the alias isn't replaced. Because tsc-alias assumes the import is not on disk at the locations so it must be something else like node_modules or builtin etc.

[2022-04-21 11:54] #116 closed

[2022-04-21 12:11] tcK1 commented on #116
Got it! Thanks for the answer!

[2022-04-23 08:06] wight554 commented on #112
still broken on MacOS:
[code]

[2022-04-23 13:25] raouldeheer commented on #112
@wight554 the problem is that the `@server` alias resolves to `dist/server/server` because the outDir is `dist/server`. But `dist/server/server` doesn't exist so the aliases aren't resolved.

These are the files tsc-alias found:
[code]

[2022-04-24 07:03] wight554 commented on #112
The project structure is
src/
server/
test/
With alias @src @server @test
I build only server folder with tsc, so I set include: ['server'] and build to dist/server
I use server alias in server folder
If I set outDir to ./dist, it'll build server containts to ./dist and will look for nested server folder like this:
`./server/utils/` while it should look like this: `./utils`
It worked fine before 1

[2022-04-24 07:28] raouldeheer commented on #112
@wight554 Changing the `build:server` script from `tsc-alias -p tsconfig.server.json` to `tsc-alias --dir dist` fixes the issue.

[2022-04-28 08:06] slier81 opened #117 "Using `resolveFullPaths` with watch mode cause the transpiled file not to have `.js` extenstion"
As title,
When using `resolveFullPaths` in watch mode, the transpiled file doesnt have `.js` extension
It work just fine without watch mode

tsconfig.json

[code]

And run `tsc -w & tsc-alias -w` causing the transpiled file lost its extension

[2022-04-29 05:28] slier81 commented on #117
@raouldeheer Running `tsc && tsc-alias -r debugger.js`  give me:

`tsc-alias error: Failed to import replacer "debugger.js"`

[2022-05-09 07:30] tkcto commented on #117
@raouldeheer so whats the update on this?

[2022-05-09 07:33] raouldeheer commented on #117
@tkcto I haven't been able to reproduce this bug. That makes it exceedingly difficult to give a time estimate.

[2022-05-09 08:52] slier81 commented on #117
@raouldeheer ah ic.. to add some context, when using `w` flag, `tsc-alias` no longer translate path alias ( and does not add `.js` extension )

[2022-05-10 00:21] slier81 commented on #117
@raouldeheer i have setup demo repo for you with reproducible bug https://github.com/slier81/tscalias-bug-demo

[2022-05-11 11:30] raouldeheer commented on #111
@ulysset @Ge-yuan-jun I haven't been able to reproduce this bug. Could you setup a demo repo with the reproducible bug?

[2022-05-11 11:33] slier81 commented on #117
@raouldeheer

Yes this  fix the issue.. But the second solution apparently only work, if there is already generated output.
But according to your documentation `"build:watch": "tsc -w & tsc-alias -w"` should work..
Why running `tsc -w & tsc-alias -w` dont work? Maybe you need to update your documentation? thx anyway for the fix.. Greatly appreacited

[2022-05-11 13:51] ulysset commented on #111
@raouldeheer  sorry, I'm having trouble reproducing it although I still have the bug :(
@Ge-yuan-jun can you try it?

[2022-05-11 17:55] #117 closed

[2022-05-12 02:38] slier81 commented on #117
I have to mention this, actually solution number 1 `concurrently \"tsc -w\" \"tsc-alias -w\"` , actually also not working if this is the first time you running this command ( meaning, there is not generated output yet ).. On subsequent running of this command, it will work.. Quick fix would be `tsc && (concurrently \"tsc -w\" \"tsc-alias -w\")`

[2022-05-25 02:13] titus-ong opened #120 "transpilation to js breaks when file name is same as library"
## Expected behaviour

tsc-alias should not affect tsc transpilation.

## Current behaviour

tsc-alias causes tsc to transpile library imports as local module imports when they share the same name.

## Possible solution

Unfortunately, I have not read through tsc-alias' code yet, but a workaround for others facing the same issue is to simply rename their files.

## Steps to reproduce

I'm using mo

[2022-05-25 06:35] raouldeheer commented on #120
https://github.com/justkey007/tsc-alias/discussions/110 Replaces path that shouldn't be replaced

[2022-05-25 07:23] titus-ong commented on #120
Hm interesting, wasn't aware enabling paths would have such an effect. The fix on your FAQ works, thanks.

[2022-05-25 07:23] #120 closed

[2022-05-31 10:41] Kolobok12309 opened #121 "Replace 'declare module' paths"
We write library with multiple optional modules, some of them declare props for another modules, for example

[code]

After compile and `tsc-alias`

[code]

Expected

[code]

Can you add replacing of `declare module` paths please?

[2022-06-06 06:38] pfdgithub opened #124 "Alias resolution is invalid when using the emitDeclarationOnly option and the *.js extension."
[code]

[code]

[code]

---

[code]

[code]

---

[code]

[code]

[2022-06-06 06:40] raouldeheer commented on #124
This bug is probably fixed by #123

[2022-06-06 06:48] pfdgithub commented on #124
any release plan?

[2022-06-06 11:27] raouldeheer commented on #124
@pfdgithub Version `1.6.9` just released

[2022-06-07 02:26] #124 closed

[2022-06-15 04:43] tuphan-dn opened #125 "Support import statement of non-javascript files"
I have imported some things like `import 'os/static/styles/dark.less'` where `os` is non-relative and depending on `baseUrl`. The plugin does not touch and resolve the import statement.

[2022-06-16 23:00] hiukky opened #127 "Not working on workspaces with yarn v1"
Do we have any usage notes regarding yarn workspaces? I'm getting the message of `tsc-alias error: File undefined not found`, can't resolve the configuration from a link.

I still looked at details, but using previously with simple packages it was working, but with custom scope "@foo/*" the configuration is not resolved.

I tested `tsc --showConfig` and the configuration is being loaded correctly

[2022-06-17 11:51] raouldeheer commented on #127
@hiukky What does your tsconfig look like? And where are the files that it extends?

[2022-06-17 13:39] raouldeheer commented on #127
tsc-alias doesn't support aliases in tsconfig. Try using `../../presets/tsconfig`

[2022-06-17 13:43] hiukky commented on #127
actually it supports it, only it needs to point directly to the file, this type of import is also not pleasant lol

[2022-06-17 13:48] hiukky commented on #127
https://github.com/justkey007/tsc-alias/blob/master/src/helpers/config.ts#L159-L186

I think here you need to consider one more condition!

[2022-06-17 13:55] hiukky commented on #127
I think this may be unnecessary!

[code]

Because when tsconfig extends a configuration it only resolves if it is valid, otherwise the compiler shows an error!

If tsc fails, tsc-alias should not be invoked!

another thing is that if a tsconfig or tsconfig.json is implicitly pointed to in the inheritance, tsconfig assumes a tsconfig.json by default.

what do you think @justkey007

[2022-06-17 14:15] raouldeheer commented on #127
Because when the path ends with `.json` it checks for the file, if that is not found the program will continue with next item in the list. Because of this everything after line 173 is already in an else branch in the program code.

[2022-06-17 14:20] raouldeheer commented on #127
@hiukky would #128 fix this issue?

[2022-06-17 14:22] hiukky commented on #127
![image](https://user-images.githubusercontent.com/26740246/174316590-fe2cde12-f9af-4b50-bd91-5fbcbb06fed7.png)
Well I understand, but this is really a problem! what is the difference from the local module I am using in the workspace `@presets/tsconfig` to https://github.com/sindresorhus/tsconfig (it works) ?

The only difference I see is a module installed directly in the npm registry and another

[2022-06-17 14:27] hiukky commented on #127
@raouldeheer Yes #128 solves it! ;/

[2022-06-17 18:35] #127 closed

[2022-07-06 14:04] SebTVisage opened #130 "Not working after adding outDir"
Hi. So I had a project where everything was in the root, mix of TS & JS files.

So basically in my tsconfig I had set `"outDir": "."`. Then when running tsc then tsc-alias, everything worked fine

Now I've just added a src/dist structure, put all code under the src folder and change my tsconfig like so:
[code]

And for some reason, tsc-alias does not replace any path anymore.

The only other notab

[2022-07-06 14:11] raouldeheer commented on #130
@SebTVisage can you provide us the console output when running with -r debugger.js? Working version and nonworking version?
debugger.js file placed next to tsconfig.json.
With the debugger.js file contents being:
[code]

[2022-07-06 14:36] SebTVisage commented on #130
<details>
  <summary>Working output</summary>

[code]
</details>

<details>
<summary>Not working output</summary>

[code]
</details>

[2022-07-06 14:50] SebTVisage commented on #130
Ok good call, this fixes `tsc-alias` indeed.

But I cannot use this config because it actually breaks `tsc`. It fails to interpret the alias correctly.
I had to run tsc with my current config, then run tsc-alias with the change you proposed to make this work.

[2022-07-07 08:47] SebTVisage commented on #130
@raouldeheer actually I have another blocking issue. With your fix, tsc replaces `const util = require('util');` to `const util = require('../util');` so it breaks at runtime.

This happens in the `middlewares/request-logger.js` file.
<details>
<summary>Output with -r debugger:</summary>

[code]
</details

[2022-07-08 09:56] justkey007 commented on #130
@SebTVisage Please read this [article](https://github.com/justkey007/tsc-alias/discussions/110) to better understand the behavior obtained but it is not a bug

[2022-07-18 08:32] justkey007 commented on #125
https://github.com/justkey007/tsc-alias/discussions/73

https://github.com/justkey007/tsc-alias/discussions/110

[2022-07-18 08:32] #125 closed

[2022-07-19 12:19] Dezzymei commented on #79
This should be written about in the readme as this really messed me up!

[2022-07-19 12:26] raouldeheer commented on #79
@justkey007 Maybe we should add a link to the F.A.Q. #110 in the readme?

[2022-07-19 13:10] justkey007 commented on #79
@raouldeheer I also think it will help a lot.

[2022-07-22 07:35] mschering opened #134 "Paths resolve to the wrong dir (tsc-alias debug: default replacer - Invalid path )"
Hi,

My problem is that ts-alias never replaces any import because it resolves to an invalid path. All paths resolve to <CURRENTDIR>/goui/dist/... instead of <PARENTDIR>/goui/dist...

I have this tsconfig:

[code]

Here's the debug output:

[code]

Am I doing something wrong or is it a bug?

Thanks!

Best regards,
Merijn

[2022-07-22 10:59] Kolobok12309 commented on #134
+1 bug with default replacer
[code]
Alias after `config.aliasTrie.search`
[code]

After normalize path  `/my/user/dir/projects/project-name/lib`

Can't say `debug` log, don't understand how enable it with programatically use

[2022-07-26 21:33] ChrisChiasson commented on #63
@raouldeheer it seems like if we want `baseUrl="."`, so that absolute imports start with `src/` we would need `paths: {"src/*": "src/*"}` in tsconfig.json. I was able to figure this out by taking project 16 from PR #67 and changing `baseUrl` and all the `imports`.   I used project 10 for comparison. Thank you for your work on this project!

[2022-08-10 21:27] fsmaia commented on #111
Don't know if it's related, but this bug is happening to me when the calculated `rootDir` differs from the `baseUrl`. Equalizing both fixed for me.

[2022-08-10 21:53] ulysset commented on #111
@fsmaia  thanks for the suggestion. My `rootDir` and `baseUrl` do differ but when equalizing both properties it sadly didn't work :(
But I think that our problem might be because we are working in a monorepo.

[2022-08-17 10:52] semoal commented on #111
This fixes our issue!

[code]

Basically baseUrl and rootDir is the same but we reference the paths from the root and it's working fine :)

[2022-09-01 19:04] oleksandr-danylchenko commented on #117
@nmsobri
Unfortunately, it `tsc && (concurrently \"tsc -w\" \"tsc-alias -w\")` doesn't help either. After you do any change in the source files, the aliases are getting back

---

@raouldeheer do you have any thoughts on it?

[2022-09-01 19:07] oleksandr-danylchenko commented on #117
@nmsobri
Thank you! I faced the same exact problem and the `tsc && (concurrently \"tsc -w\" \"tsc-alias -w\")` helped!

@raouldeheer, could you please put in the docs? Because it's pretty confusing on the first interaction with the library to not be able to work with it in the watch mode :sweat_smile:

[2022-09-07 13:41] KlasikNormalBoy opened #136 "Overwriting OutDir in Extended tsconfig Leaves Path Unresolved"
I have two tsconfigs:
tsconfig.json:
`

  {
    "include": [
      "./**/*.ts"
    ],
    "compilerOptions": {
      "target": "ES2020",
      "module": "ES2020",
      "outDir": "out",
      "sourceMap": true,
      "allowSyntheticDefaultImports": true,
      "skipLibCheck": true,
      "esModuleInterop": true,
      "moduleResolution": "nodenext",
      "lib": [
        "ES2015.Promise",

[2022-09-07 13:49] #136 closed

[2022-09-07 13:49] KlasikNormalBoy commented on #136
I have made a mistake it seems.

[2022-09-25 02:38] KyleSmith0905 opened #137 "`import '.'` improperly mapped."
## Example

### Before:
`import { something } from '.';`

### After:
`import { something } from 'index.js';`

### Something it could be transformed to:
`import { something } from './index.js';`

## Explanation
You probably know why. But `index.js` refers to the root, `.` and `index.js` refers to an `index` file at the same level as the file. If anyone has this error, you could change the imports f

[2022-09-25 07:31] raouldeheer commented on #137
@KyleSmith0905 can you provide us the console output when running with --debug? Working version and nonworking version?

[2022-09-25 22:20] KyleSmith0905 commented on #137
I don't have a separate environment to test this on, so I'll be minimizing the log output to relevant stuff. If I should include more, like version number (1.7.0), tell me.

Working Version using `./index.js`:
[code]

Not working version using `.`
[code]

[2022-09-26 08:44] bananemo opened #138 "Default replacer's base path is not right (invalid path)"
Hi,

Thanks for this amazing package.

## Problem
When I use `tsc && tsc-alias` to compile ts to js, the alias paths are not converted to relative paths. The console output prints `default replacer - Invalid path`. Maybe it's related to issue #134 but I'm not sure about it.

### Console output when running with --debug

[code]

<details><summary>More conosle output</summary>
    <p>

[code]
.|
  |

[2022-09-26 08:59] raouldeheer commented on #137
@KyleSmith0905 can you check if you are running with -f? And what does the debugger return in the first part until the aliastrie?

[2022-09-26 09:01] raouldeheer commented on #138
@bananemo can you try running it with --dir ./build/backend? And what does the debugger return in the first part until the aliastrie?

[2022-09-26 09:20] bananemo commented on #138
@raouldeheer thanks for your quick reply! I just ecexute it with `tsc && tsc-alias --debug --dir ./build/backend` and it works!!!  The `basePath` has changed to `./build/backend`. 🎉🎉🎉

I've been trying to solve this for the whole day, you really saved my life! And also thanks for maintaining this package!

[code]
### Other parts of the output
<details><summary>The first part of the output</summary

[2022-09-26 09:26] raouldeheer commented on #138
@bananemo can you send the debug output first part from the nonworking version. So I can check if there isn't anything wrong with the code that should handle this.

[2022-09-26 09:32] bananemo commented on #138
Sure! Appreciate your help very much!

<details><summary>The first part of the debug output from not working version</summary>

[code]
</details>

[2022-09-26 13:27] #138 closed

[2022-10-13 00:28] matthew-dean opened #139 "How does this, uh, work?"
I have definition files generated by `tsc`. I'm trying to use `tsc-alias` remap paths in the exported types to relative paths, because otherwise other projects have no idea what those paths mean.

However, `tsc-alias` does nothing.
`npx tsc-alias` does nothing
`npx tsc-alias -p tsconfig.json` does nothing.

I tried changing settings in package.json, and I set verbose to true and silent to false, a

[2022-10-13 00:32] matthew-dean commented on #139
Okay! I found something that said to try `--debug`

Now I'm getting output, and it it looks like it's traversing files, but it looks at module references like `@/theme/nativeTheme` and does not replace it with its relative equivalent.

[2022-10-13 16:56] raouldeheer commented on #139
@matthew-dean tsc-alias first scans for files, after that it wil try to replace those files. It wil scan every file for import statements and try to replace the aliases, but it wil only replace the aliases of which the destination file exists.

Does the destination file exist?

[2022-10-17 18:45] willyboy commented on #139
Similar issue. Let's say I have alias:
[code]
It recognizes the alias (after putting in some logs) but doesn't do the replacement. Maybe it's because I don't use outDir? I compile the files in place.

[2022-10-17 19:28] raouldeheer commented on #139
@willyboy tsc-alias needs an outDir. The outDir is used to look if the resolved alias exists on the filesystem, if it isn't found tsc-alias won't replace the alias.
Could you provide a debug log of the issue?

[2022-10-27 20:46] spearmootz opened #140 "incorrectly replaces path"
here are my paths

    "paths": {
      "@src/*": ["src/*"],
      "@tests/*": ["tests/*"]
    }

my compiled javascript has  require('moduleName')

if i have a file called moduleName in the same folder then it gets changed to ./moduleName instead of it leaving it alone

[2022-10-27 20:47] spearmootz commented on #140
issue is addressed in FAQ i believe, i will close this comment. if this is really common then it should probably be the default behavior.

https://github.com/justkey007/tsc-alias/discussions/110

[2022-10-27 20:47] #140 closed

[2022-11-04 16:59] tjtrujillo opened #141 "When import a library with has the same name as the local file it replace for a local alias"
It has happened in one of my projects that having a library with the same name as one of the project folders/file during the compilation process the reference to the npm package is replaced by the address of the local folder.

This happens only when upgrading to versions higher than 1.4.0.

Example:

**folder structure:
src/
      esbuild.js
      exampleFail.js**

### exampleFail.ts
[code]
### ex

[2022-11-04 17:36] raouldeheer commented on #141
@tjtrujillo Please read the first question from the FAQ #110

Add this to tsconfig.json

[code]

[2022-11-04 19:53] tjtrujillo commented on #141
@raouldeheer thank you for the quick response. But with that configuration and with version 1.7.0 the result is as follows

[code]
### var import_esbuild = __toModule(require("~/esbuild")); the path is not modified ###

[2022-11-04 22:55] tjtrujillo commented on #141
### version 1.7.0: ###
[code]

### The version that works is 1.4.0 and has no debug mode. ###

[2022-11-05 19:36] raouldeheer commented on #141
@tjtrujillo The `~/esbuild` alias isn't replaced because tsc-alias can't find `build/__tests__/esbuild/out/Test 4/src/esbuild.js`.
The problem is likely to be that `tsc` hasn't copied the `esbuild.js` file to the output directory because of the `tsconfig.json` missing `"allowJs": true,`.

[2022-11-05 20:10] raouldeheer commented on #137
@KyleSmith0905 I have found the bug that was causing the issue, pr following soon. A workaround for this issue is to replace `.` with `./`.

[2022-11-05 20:58] raouldeheer commented on #139
@justkey007 This issue could be marked as stale

[2022-11-05 21:03] raouldeheer commented on #111
@justkey007 This issue could be marked as stale

[2022-11-06 00:29] #137 closed

[2022-11-07 15:40] tjtrujillo commented on #141
@raouldeheer Thank you very much for your support. But I have tried it with that option and I have the same problem. Here is the tsconfig and the new debug output which is different.

**tsconfig.json**

[code]
**tsc-alias debug output**
[code]

[2022-11-07 15:52] raouldeheer commented on #141
@tjtrujillo It seems like typescript compiles the files in the `Test 4/src/` directory to the top-level out directory, leading to a path mismatch. Could you try changing `"~/*": ["Test 4/src/*"]` to `"~/*": ["Test 4/src/*", "*"]`?

[2022-11-08 00:07] tjtrujillo commented on #141
@raouldeheer finally with that last change it has worked. Thank you very much I close the issue

[2022-11-08 00:07] #141 closed

[2022-11-10 05:07] miguel-leon opened #145 "Does not work with Project References that have a rootDir in their tsconfig"
In my main project `tsconfig.json` there is:

[code]

being `models` a [Project Reference](https://www.typescriptlang.org/docs/handbook/project-references.html), there's a `tsconfig.json` file in its directory:

[code]

This means the output of tsc will be put directly in `../dist/models` skipping the `src` subdirectory.

When tsc-aliases runs, it is trying to locate the file `dist/models/src/inde

[2022-11-10 08:21] raouldeheer commented on #145
@miguel-leon can you provide us the console output when running with --debug?

[2022-11-10 08:44] miguel-leon commented on #145
It contained a lot of unnecessary information, because it wasn't a new empty project.
I took the path it is trying to locate `...dist/models/src/index.js` from that output, that's how I know.
Also there wasn't any signs of the `models/tsconfig.json` being loaded to check up on the `rootDir`.

I already moved on, so I don't have it anymore.
I was letting you guys know in case you were interested.

[2022-11-10 08:48] raouldeheer commented on #145
This issue could probably be solved by changing
`"models": ["../models/src/index.ts"]`
to
`"models": ["../models/src/index.ts", "../models/index.js"]`

[2022-11-21 15:43] ArtursTimofejevs opened #146 "Getting extra "../" added to the resolved path"
Hello!

Hope everyone is doing well.

Been trying to setup `tsc-alias` to work for us when we develop packages. We have a single mono repository. In that mono repository we have packages that are shared between apps and packages. I'm building a little watch tool that will build declaration files only so we have that sweet type support between packages while developing. Everything seems fine until

[2022-11-21 15:56] raouldeheer commented on #146
@ArtursTimofejevs can you provide us the console output when running with --debug?  Could you try changing the declarationDir to types instead of dist/types? Maybe it's resolving the imported files to the js.

[2022-11-22 11:09] ArtursTimofejevs commented on #146
@raouldeheer

https://gist.github.com/ArtursTimofejevs/e51cafe95a20b38e28ee4e8735380f58

For the debug,

Changing the directory did not do anything unfortunately, i'll keep digging.

[2022-11-22 11:15] raouldeheer commented on #146
@ArtursTimofejevs Could you try running tsc-alias with `--dir dist/types`?

[2022-11-22 13:05] ArtursTimofejevs commented on #146
That did the trick! Not sure if its a bug or not so feel free to close :) Thank you!! Happy tuesday :)

[2022-11-30 09:53] valeriobelli opened #147 "`base-url` replacer aliases vendors when directories monitored in the tsconfig `paths` have the same name"
Hi!

I'm unsure if I've found a bug or if it's misconfigured. Let's explain it with an example because it's peculiar.

Given this `tsconfig.json`

[code]

the following dependencies in the `package.json`

[code]

the following package's folders
![image](https://user-images.githubusercontent.com/56547421/204760961-db164138-16b8-438d-8a37-eaa6ce36080b.png)

and the following file contained in `~/io-

[2022-11-30 10:02] raouldeheer commented on #147
@valeriobelli this looks like a baseUrl issue. Please check the FAQ #110 question 1.

[2022-11-30 21:40] #146 closed